{% extends 'vizy/_layouts/settings' %}

{% import '_includes/forms' as forms %}
{% import 'verbb-base/_macros' as macros %}

{% set selectedTab = 'general' %}
{% set fullPageForm = true %}
{% set pageTitle = 'General Settings' | t('vizy') %}
{% set pageAction = 'plugins/save-plugin-settings' %}
{% set pageUrl = 'vizy/settings' %}

{% block settingsContent %}
    {{ forms.autosuggestField({
        label: 'Icons Path' | t('vizy'),
        instructions: 'Provide the full path to your icon files. Aliases are also supported.' | t('vizy'),
        name: 'iconsPath',
        value: settings.iconsPath,
        suggestEnvVars: true,
        suggestAliases: true,
        errors: settings.getErrors('iconsPath'),
        warning: macros.configWarning('iconsPath', 'vizy'),
    }) }}

    {{ forms.autosuggestField({
        label: 'Block Preview Images Path' | t('vizy'),
        instructions: 'Provide the full path to preview images for Block Types. Aliases are supported.' | t('vizy'),
        name: 'blockPreviewImagesPath',
        value: settings.blockPreviewImagesPath,
        suggestEnvVars: true,
        suggestAliases: true,
        errors: settings.getErrors('blockPreviewImagesPath'),
        warning: macros.configWarning('blockPreviewImagesPath', 'vizy'),
    }) }}
{% endblock %}
