{% import '_includes/forms' as forms %}

{% set configInput %}
    <div class="flex">
        {{ forms.select({
            name: 'configSelectionMode',
            options: [
                { label: 'Choose a config file' | t('vizy'), value: 'choose' },
                { label: 'Enter a custom config' | t('vizy'), value: 'manual' }
            ],
            value: field.configSelectionMode,
            toggle: true,
            targetPrefix: '.csm-'
        }) }}

        {{ forms.select({
            id: 'vizyConfig',
            name: 'vizyConfig',
            class: ['csm-choose', field.configSelectionMode == 'manual' ? 'hidden'] | filter,
            options: vizyConfigOptions,
            value: field.vizyConfig,
        }) }}
    </div>
{% endset %}

{{ forms.field({
    label: 'Editor Config' | t('vizy'),
    id: 'config',
    instructions: 'You can save custom editor configs as `.json` files in `config/vizy/`, or you can enter a custom config.' | t('vizy') ~ ' <a href="https://verbb.io/craft-plugins/vizy/docs/get-started/configuration#editor-configuration" rel="noopener" target="_blank" class="go">' ~ 'View available settings' | t('vizy') ~ '</a>',
    required: true,
}, configInput) }}

{{ forms.textareaField({
    label: 'Custom Editor Config' | t('vizy'),
    instructions: 'The config must be entered as valid JSON.' | t('vizy'),
    fieldClass: ['csm-manual', field.configSelectionMode == 'choose' ? 'hidden'] | filter,
    class: ['code', 'ltr'],
    name: 'manualConfig',
    value: field.manualConfig,
    rows: 10,
    cols: 50,
    errors: field.getErrors('manualConfig'),
}) }}

<div class="field" aria-describedby="configurator">
    <div class="heading">
        <label id="label">{{ 'Block Configuration' | t('vizy') }}</label>
    </div>

    <div id="configurator" class="instructions">
        <p>{{ 'Define the types of blocks that can be created within this Vizy field, as well as the fields each block type is made up of.' | t('vizy') }}</p>
    </div>

    <div class="{{ idPrefix }}-vizy-configurator vizy-configurator">
        <vizy-settings :errors="{{ field.getErrors() | json_encode }}"></vizy-settings>
    </div>
</div>

<hr>

{{ forms.lightswitchField({
    label: 'Remove Empty Paragraphs' | t('vizy'),
    instructions: 'Whether empty paragraphs should be trimmed automatically from field output.' | t('vizy'),
    name: 'trimEmptyParagraphs',
    on: field.trimEmptyParagraphs,
    errors: field.getErrors('trimEmptyParagraphs'),
}) }}

{{ forms.checkboxField({
    label: 'Show unpermitted volumes' | t('app'),
    instructions: 'Whether to show volumes that the user doesn’t have permission to view.' | t('app'),
    id: 'showUnpermittedVolumes',
    name: 'showUnpermittedVolumes',
    checked: field.showUnpermittedVolumes,
}) }}

{{ forms.checkboxField({
    label: 'Show unpermitted files' | t('app'),
    instructions: 'Whether to show files that the user doesn’t have permission to view, per the “View files uploaded by other users” permission.' | t('app'),
    id: 'showUnpermittedFiles',
    name: 'showUnpermittedFiles',
    checked: field.showUnpermittedFiles,
}) }}

{{ forms.checkboxSelectField({
    id: 'availableVolumes',
    name: 'availableVolumes',
    label: 'Available Volumes' | t('vizy'),
    instructions: 'The volumes that should be available when selecting assets (if the selected config has an Image or File button).' | t('vizy'),
    options: volumeOptions,
    values: field.availableVolumes,
    showAllOption: volumeOptions | length ? true : false,
}) }}

{{ forms.checkboxSelectField({
    id: 'availableTransforms',
    name: 'availableTransforms',
    label: 'Available Transforms' | t('vizy'),
    instructions: 'The transforms that should be available when inserting images.' | t('vizy'),
    options: transformOptions,
    values: field.availableTransforms,
    showAllOption: transformOptions | length ? true : false,
}) }}

{{ forms.selectField({
    id: 'defaultTransform',
<hr>

<a class="fieldtoggle" data-target="advanced">{{ 'Advanced' | t('vizy') }}</a>

<div id="advanced" class="hidden">
    {% if craft.app.db.isMysql %}
        {{ forms.selectField({
            label: 'Column Type' | t('vizy'),
            instructions: 'The type of column this field should get in the database.' | t('vizy'),
            id: 'column-type',
            name: 'columnType',
            options: [
                { value: 'text', label: 'text (~64KB)' },
                { value: 'mediumtext', label: 'mediumtext (~16MB)' },
                { value: 'longtext', label: 'longtext (~4GB)' },
            ],
            value: field.columnType,
            warning: (field.id ? "Changing this may result in data loss." | t('vizy')),
        }) }}
    {% endif %}
</div>